@media(max-width:768px) {
    .salon_name_box {
        margin: 0;
        padding: 30px 20px;
        width: auto;
        height: auto;
    }

    .concept_of_salon {
        padding: 0px 20px;
    }


    .big_name {
        font-size: 3rem;
        margin: 0 auto;
        text-align: left;
    }

    .sentence {
        font-size: 15px;
        padding: 0;
        margin: 0;
    }

    #salon_image {
        margin: 20px 0;
    }

    .salon_image_photo {
        /* width: 100%; */
        height: calc(100% * 0.5);
        padding: 0px 0;
    }

    .caption {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .meet_our_team_caption {
        /* overflow: hidden; */
        margin: 0;
    }

    .our_services_caption {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .caption_photo {
        display: none;
    }

    #servises .container .service_row:nth-child(even) {
        flex-direction: row;
    }

    .expression_caption {
        /* width: 400px; */
        padding: 30px;

    }

    .promotions_slide {
        padding: 20px;
    }

    .promotions_caption {
        height: auto;
    }

    .swiper_button_area {
        display: none;
    }

    .video_row {
        flex-direction: column-reverse;
    }

    .video_caption {
        padding: 10px;
        /* width: 100%; */
    }

    .google_map {
        height: 300px;
    }
}

@media(max-width:576px) {
    .salon_image_photo {
        display: block;
    }

    .form_area {
        padding: 50px 30px;
    }

    .expression {
        padding: 20px 0;
        margin: 10px;
    }

    .expression_image {
        width: 100vw;
        position: static;
    }

    .expression_image img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .expression_caption {
        /* width: 400px; */
        padding: 0 60px 30px;
        position: static;

        background: white;

    }

    .caption_appointment {
        padding: 10px;
    }

    .expression_caption {
        padding: 30px;
    }

}